@model EsperantOS.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="vagtplan-modal login-modal">
    <div class="modal-header modal-header-center">
        <h2 class="login-title">EsperantOS Login</h2>
    </div>

    <div class="modal-body modal-body-login">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="login-input-group">
                <label class="login-label">Brugernavn</label>
                <div class="login-field">
                    <span class="icon">👤</span>
                    <input asp-for="Username" class="login-input" placeholder="Brugernavn" />
                </div>
            </div>

            <div class="login-input-group login-input-group-last">
                <label class="login-label">Kodeord</label>
                <div class="login-field">
                    <span class="icon">🔒</span>
                    <input asp-for="Password" type="password" class="login-input" placeholder="Password" />
                </div>
            </div>

            <button type="submit" class="btn-login">Log ind</button>
        </form>
    </div>
</div>
