@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>FORSIDE</h1>


 
    <form action="" method="get">
        <input type="submit" name="upvote" value="Upvote" />
    </form>

</div>
