@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>FORSIDE</h1>

    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="submit" value="Index" />
    </form>
    <form asp-controller="Home" asp-action="Vagtplan" method="get">
        <input type="submit" value="Vagtplan" />
    </form>
    <form asp-controller="Home" asp-action="FrigivedeVagter" method="get">
        <input type="submit" value="FrigivedeVagter" />
    </form>
</div>

